body {
	margin-left: 40px;
	margin-right: 40px;
	padding : 2px;
	margin : 2px;
}
div#sales {
	background-color: #4b4b4b;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 10px 0px 0px 0px;
	padding: 10px;
	border: 5px solid #aaaaaa;
}
div.saleItem {
	font-family: Verdana, Helvetica, sans-serif;
	color: #48485e;
	padding: 10px;
}
div.saleItem:nth-child(2n) {
	background-color: #feffc4;
}
div.saleItem:nth-child(2n-1) {
	background-color: #adb7e0;
}
div.saleItem:first-child {
	-webkit-border-top-left-radius: 36px;
	-webkit-border-top-right-radius: 36px;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
}
div.saleItem:last-child {
	-webkit-border-bottom-left-radius: 36px;
	-webkit-border-bottom-right-radius: 36px;
	border-bottom-left-radius: 36px;
	border-bottom-right-radius: 36px;
}

